In [256]:
import pandas as pd
import numpy as np

In [257]:
df1 = pd.read_csv("problem_data.csv")
df2 = pd.read_csv("train_submissions.csv")
df3 = pd.read_csv("user_data.csv")

In [258]:
df1.head()

  problem_id level_type  points                                 tags
0  prob_3649          H     NaN                                  NaN
1  prob_6191          A     NaN                                  NaN
2  prob_2020          F     NaN                                  NaN
3   prob_313          A   500.0                greedy,implementation
4   prob_101          A   500.0  constructive algorithms,greedy,math

In [259]:
df1.problem_id.nunique()

6544

In [260]:
df2.head()

     user_id problem_id  attempts_range
0   user_232  prob_6507               1
1  user_3568  prob_2994               3
2  user_1600  prob_5071               1
3  user_2256   prob_703               1
4  user_2321   prob_356               1

In [261]:
df2.problem_id.nunique()

5776

In [262]:
df3.head()

,user_id,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds
0,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436
1,user_3028,63,52,0,India,17,1498998165,405.677,339.450,intermediate,1441893325
2,user_2268,226,203,-8,Egypt,24,1505566052,307.339,284.404,beginner,1454267603
3,user_480,611,490,1,Ukraine,94,1505257499,525.803,471.330,advanced,1350720417
4,user_650,504,479,12,Russia,4,1496613433,548.739,486.525,advanced,1395560498

In [263]:
df1.problem_id.count()

6544

In [264]:
df2.problem_id.count()

155295

In [265]:
df = pd.merge(df2 , df1 , on = 'problem_id' , how = 'left')

In [266]:
df.head()

,user_id,problem_id,attempts_range,level_type,points,tags
0,user_232,prob_6507,1,B,1000.0,strings
1,user_3568,prob_2994,3,C,1500.0,"brute force,dp"
2,user_1600,prob_5071,1,A,500.0,implementation
3,user_2256,prob_703,1,A,500.0,"brute force,implementation"
4,user_2321,prob_356,1,D,2000.0,"dfs and similar,trees"

In [267]:
df = pd.merge(df3 , df , on = 'user_id', how = 'left')

In [268]:
df.head(10)

,user_id,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds,problem_id,attempts_range,level_type,points,tags
0,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_75,1.0,A,500.0,implementation
1,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_1481,1.0,B,1000.0,"brute force,implementation"
2,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_3474,1.0,B,1000.0,"constructive algorithms,implementation,sortings"
3,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_334,1.0,A,500.0,"binary search,brute force,implementation,math"
4,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_3508,1.0,A,500.0,implementation
5,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_350,6.0,E,NaN,dfs and similar
6,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_4089,1.0,D,1500.0,"brute force,data structures,dfs and similar,dp..."
7,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_2121,1.0,B,1000.0,"brute force,constructive algorithms,geometry"
8,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_5565,1.0,B,750.0,greedy
9,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_3528,3.0,A,500.0,implementation

In [269]:
df.isnull().sum(axis = 0)

user_id                          0
submission_count                 0
problem_solved                   0
contribution                     0
country                      37891
follower_count                   0
last_online_time_seconds         0
max_rating                       0
rating                           0
rank                             0
registration_time_seconds        0
problem_id                      42
attempts_range                  42
level_type                     662
points                       29117
tags                         15469
dtype: int64

In [270]:
df['ID'] = df['user_id'].str.cat(df['problem_id'] , sep='_')

In [271]:
df.head(10)

,user_id,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds,problem_id,attempts_range,level_type,points,tags,ID
0,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_75,1.0,A,500.0,implementation,user_3311_prob_75
1,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_1481,1.0,B,1000.0,"brute force,implementation",user_3311_prob_1481
2,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_3474,1.0,B,1000.0,"constructive algorithms,implementation,sortings",user_3311_prob_3474
3,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_334,1.0,A,500.0,"binary search,brute force,implementation,math",user_3311_prob_334
4,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_3508,1.0,A,500.0,implementation,user_3311_prob_3508
5,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_350,6.0,E,NaN,dfs and similar,user_3311_prob_350
6,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_4089,1.0,D,1500.0,"brute force,data structures,dfs and similar,dp...",user_3311_prob_4089
7,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_2121,1.0,B,1000.0,"brute force,constructive algorithms,geometry",user_3311_prob_2121
8,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_5565,1.0,B,750.0,greedy,user_3311_prob_5565
9,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_3528,3.0,A,500.0,implementation,user_3311_prob_3528

In [272]:
df = df.reindex(columns=['ID'] + list(df.columns[:-1]))

In [273]:
df.head()

,ID,user_id,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds,problem_id,attempts_range,level_type,points,tags
0,user_3311_prob_75,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_75,1.0,A,500.0,implementation
1,user_3311_prob_1481,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_1481,1.0,B,1000.0,"brute force,implementation"
2,user_3311_prob_3474,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_3474,1.0,B,1000.0,"constructive algorithms,implementation,sortings"
3,user_3311_prob_334,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_334,1.0,A,500.0,"binary search,brute force,implementation,math"
4,user_3311_prob_3508,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,prob_3508,1.0,A,500.0,implementation

In [274]:
df.tags.isna().sum(axis=0)

15469

In [275]:
df.drop(['user_id', 'problem_id'] , axis=1 , inplace=True)

In [276]:
df.tail()

,ID,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds,attempts_range,level_type,points,tags
155332,user_2179_prob_1065,163,115,6,South Korea,40,1502074467,392.775,288.704,beginner,1455975499,3.0,C,1750.0,"divide and conquer,dp"
155333,user_2179_prob_3222,163,115,6,South Korea,40,1502074467,392.775,288.704,beginner,1455975499,6.0,C,NaN,"binary search,hashing,two pointers"
155334,user_2179_prob_2605,163,115,6,South Korea,40,1502074467,392.775,288.704,beginner,1455975499,1.0,A,500.0,"brute force,graphs,math"
155335,user_2179_prob_186,163,115,6,South Korea,40,1502074467,392.775,288.704,beginner,1455975499,3.0,D,NaN,"dp,implementation"
155336,user_2179_prob_3935,163,115,6,South Korea,40,1502074467,392.775,288.704,beginner,1455975499,1.0,C,1000.0,"greedy,sortings"

In [277]:
df.describe()

,submission_count,problem_solved,contribution,follower_count,last_online_time_seconds,max_rating,rating,registration_time_seconds,attempts_range,points
count,155337.000000,155337.000000,155337.000000,155337.000000,1.553370e+05,155337.000000,155337.000000,1.553370e+05,155295.000000,126220.000000
mean,372.135634,335.987929,5.492233,61.047954,1.503663e+09,407.498308,368.605011,1.427526e+09,1.755028,993.302369
std,398.197581,377.367860,19.074261,258.964468,3.874600e+06,99.670974,112.037582,5.033909e+07,1.078450,568.115307
min,1.000000,0.000000,-64.000000,0.000000,1.484237e+09,303.899000,0.000000,1.264761e+09,1.000000,-1.000000
25%,118.000000,99.000000,0.000000,7.000000,1.504116e+09,323.394000,288.131000,1.408458e+09,1.000000,500.000000
50%,237.000000,209.000000,0.000000,20.000000,1.505285e+09,383.028000,356.078000,1.442860e+09,1.000000,1000.000000
75%,480.000000,428.000000,1.000000,52.000000,1.505560e+09,468.463000,445.814000,1.464700e+09,2.000000,1500.000000
max,4570.000000,4476.000000,171.000000,10575.000000,1.505595e+09,983.085000,911.124000,1.484236e+09,6.000000,5000.000000

In [278]:
# cleaned = df.tags.str.split(',', expand=True).stack()
# dt =pd.get_dummies(cleaned, prefix='g').groupby(level=0).sum()

In [279]:
# def precedence(x):
#     if x=='beginner':
#         return 0
#     elif x=='intermediate':
#         return 1
#     elif x=='advanced':
#         return 2

In [280]:
# df['e_rank'] = df.apply(lambda x:precedence(x['rank']),axis=1)

In [281]:
df['e_rank'] = df['rank'].map({"beginner":0,"intermediate":1,"advanced":2})

In [282]:
df.tail(100)

,ID,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds,attempts_range,level_type,points,tags,e_rank
155237,user_1929_prob_3844,58,51,0,NaN,0,1505552744,330.275,262.901,beginner,1480086231,2.0,A,500.0,brute force,0.0
155238,user_1929_prob_29,58,51,0,NaN,0,1505552744,330.275,262.901,beginner,1480086231,3.0,A,NaN,"implementation,sortings",0.0
155239,user_1929_prob_2334,58,51,0,NaN,0,1505552744,330.275,262.901,beginner,1480086231,2.0,A,500.0,"brute force,implementation",0.0
155240,user_1929_prob_1716,58,51,0,NaN,0,1505552744,330.275,262.901,beginner,1480086231,1.0,A,500.0,implementation,0.0
155241,user_1929_prob_4060,58,51,0,NaN,0,1505552744,330.275,262.901,beginner,1480086231,1.0,A,500.0,implementation,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155332,user_2179_prob_1065,163,115,6,South Korea,40,1502074467,392.775,288.704,beginner,1455975499,3.0,C,1750.0,"divide and conquer,dp",0.0
155333,user_2179_prob_3222,163,115,6,South Korea,40,1502074467,392.775,288.704,beginner,1455975499,6.0,C,NaN,"binary search,hashing,two pointers",0.0
155334,user_2179_prob_2605,163,115,6,South Korea,40,1502074467,392.775,288.704,beginner,1455975499,1.0,A,500.0,"brute force,graphs,math",0.0
155335,user_2179_prob_186,163,115,6,South Korea,40,1502074467,392.775,288.704,beginner,1455975499,3.0,D,NaN,"dp,implementation",0.0
155336,user_2179_prob_3935,163,115,6,South Korea,40,1502074467,392.775,288.704,beginner,1455975499,1.0,C,1000.0,"greedy,sortings",0.0

In [283]:
df.e_rank.value_counts()

1.0    66516
0.0    53232
2.0    30351
Name: e_rank, dtype: int64

In [284]:
df.e_rank.isna().sum()

5238

In [285]:
df.e_rank.fillna(method='bfill',inplace=True)

In [286]:
#df= pd.get_dummies(df, columns=['rank'], prefix=['encoded_'],drop_first=False)

In [287]:

df.head()

,ID,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds,attempts_range,level_type,points,tags,e_rank
0,user_3311_prob_75,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,1.0,A,500.0,implementation,1.0
1,user_3311_prob_1481,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,1.0,B,1000.0,"brute force,implementation",1.0
2,user_3311_prob_3474,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,1.0,B,1000.0,"constructive algorithms,implementation,sortings",1.0
3,user_3311_prob_334,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,1.0,A,500.0,"binary search,brute force,implementation,math",1.0
4,user_3311_prob_3508,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,1.0,A,500.0,implementation,1.0

In [288]:
df['e_rank']=df['e_rank'].astype(int)

In [289]:
df.drop(['rank'],axis=1)

,ID,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,registration_time_seconds,attempts_range,level_type,points,tags,e_rank
0,user_3311_prob_75,47,40,0,NaN,4,1504111645,348.337,330.849,1466686436,1.0,A,500.0,implementation,1
1,user_3311_prob_1481,47,40,0,NaN,4,1504111645,348.337,330.849,1466686436,1.0,B,1000.0,"brute force,implementation",1
2,user_3311_prob_3474,47,40,0,NaN,4,1504111645,348.337,330.849,1466686436,1.0,B,1000.0,"constructive algorithms,implementation,sortings",1
3,user_3311_prob_334,47,40,0,NaN,4,1504111645,348.337,330.849,1466686436,1.0,A,500.0,"binary search,brute force,implementation,math",1
4,user_3311_prob_3508,47,40,0,NaN,4,1504111645,348.337,330.849,1466686436,1.0,A,500.0,implementation,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155332,user_2179_prob_1065,163,115,6,South Korea,40,1502074467,392.775,288.704,1455975499,3.0,C,1750.0,"divide and conquer,dp",0
155333,user_2179_prob_3222,163,115,6,South Korea,40,1502074467,392.775,288.704,1455975499,6.0,C,NaN,"binary search,hashing,two pointers",0
155334,user_2179_prob_2605,163,115,6,South Korea,40,1502074467,392.775,288.704,1455975499,1.0,A,500.0,"brute force,graphs,math",0
155335,user_2179_prob_186,163,115,6,South Korea,40,1502074467,392.775,288.704,1455975499,3.0,D,NaN,"dp,implementation",0
155336,user_2179_prob_3935,163,115,6,South Korea,40,1502074467,392.775,288.704,1455975499,1.0,C,1000.0,"greedy,sortings",0

In [290]:
# new_df = pd.DataFrame(df.tags.str.split(',').tolist()).stack()

In [291]:
df.tags.isna().sum()

15469

In [292]:
df.tags.nunique()

850

In [293]:
df.tags.value_counts()

implementation                                                 23275
brute force,implementation                                      5171
implementation,math                                             5096
math                                                            4710
implementation,strings                                          4317
                                                               ...
bitmasks,shortest paths                                            1
bitmasks,graph matchings,graphs                                    1
dp,games,greedy,trees                                              1
brute force,dfs and similar,divide and conquer,flows,greedy        1
binary search,brute force,data structures                          1
Name: tags, Length: 850, dtype: int64

In [294]:
df.tags.fillna('implementation',inplace=True)

In [295]:
cleaned = df.tags.str.split(',', expand=True).stack()

In [296]:
cleaned

0       0             implementation
1       0                brute force
        1             implementation
2       0    constructive algorithms
        1             implementation
                      ...
155334  2                       math
155335  0                         dp
        1             implementation
155336  0                     greedy
        1                   sortings
Length: 309942, dtype: object

In [297]:
dt =pd.get_dummies(cleaned, prefix='e').groupby(level=0).sum()

In [298]:
dt.head()

,e_*special,e_2-sat,e_binary search,e_bitmasks,e_brute force,e_chinese remainder theorem,e_combinatorics,e_constructive algorithms,e_data structures,e_dfs and similar,...,e_number theory,e_probabilities,e_schedules,e_shortest paths,e_sortings,e_string suffix structures,e_strings,e_ternary search,e_trees,e_two pointers
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [299]:
res2 = pd.concat([df, dt], axis=1, join_axes=[df.index])

/home/harsh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  """Entry point for launching an IPython kernel.

In [300]:
res2.drop(['rank','tags'],axis=1)

,ID,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,registration_time_seconds,...,e_number theory,e_probabilities,e_schedules,e_shortest paths,e_sortings,e_string suffix structures,e_strings,e_ternary search,e_trees,e_two pointers
0,user_3311_prob_75,47,40,0,NaN,4,1504111645,348.337,330.849,1466686436,...,0,0,0,0,0,0,0,0,0,0
1,user_3311_prob_1481,47,40,0,NaN,4,1504111645,348.337,330.849,1466686436,...,0,0,0,0,0,0,0,0,0,0
2,user_3311_prob_3474,47,40,0,NaN,4,1504111645,348.337,330.849,1466686436,...,0,0,0,0,1,0,0,0,0,0
3,user_3311_prob_334,47,40,0,NaN,4,1504111645,348.337,330.849,1466686436,...,0,0,0,0,0,0,0,0,0,0
4,user_3311_prob_3508,47,40,0,NaN,4,1504111645,348.337,330.849,1466686436,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155332,user_2179_prob_1065,163,115,6,South Korea,40,1502074467,392.775,288.704,1455975499,...,0,0,0,0,0,0,0,0,0,0
155333,user_2179_prob_3222,163,115,6,South Korea,40,1502074467,392.775,288.704,1455975499,...,0,0,0,0,0,0,0,0,0,1
155334,user_2179_prob_2605,163,115,6,South Korea,40,1502074467,392.775,288.704,1455975499,...,0,0,0,0,0,0,0,0,0,0
155335,user_2179_prob_186,163,115,6,South Korea,40,1502074467,392.775,288.704,1455975499,...,0,0,0,0,0,0,0,0,0,0
155336,user_2179_prob_3935,163,115,6,South Korea,40,1502074467,392.775,288.704,1455975499,...,0,0,0,0,1,0,0,0,0,0

In [301]:
res2.describe()

,submission_count,problem_solved,contribution,follower_count,last_online_time_seconds,max_rating,rating,registration_time_seconds,attempts_range,points,...,e_number theory,e_probabilities,e_schedules,e_shortest paths,e_sortings,e_string suffix structures,e_strings,e_ternary search,e_trees,e_two pointers
count,155337.000000,155337.000000,155337.000000,155337.000000,1.553370e+05,155337.000000,155337.000000,1.553370e+05,155295.000000,126220.000000,...,155337.000000,155337.000000,155337.000000,155337.000000,155337.000000,155337.000000,155337.000000,155337.000000,155337.000000,155337.000000
mean,372.135634,335.987929,5.492233,61.047954,1.503663e+09,407.498308,368.605011,1.427526e+09,1.755028,993.302369,...,0.050670,0.009154,0.000515,0.011781,0.095946,0.002524,0.067144,0.002852,0.033894,0.028532
std,398.197581,377.367860,19.074261,258.964468,3.874600e+06,99.670974,112.037582,5.033909e+07,1.078450,568.115307,...,0.219325,0.095239,0.022688,0.107899,0.294518,0.050172,0.250273,0.053327,0.180957,0.166486
min,1.000000,0.000000,-64.000000,0.000000,1.484237e+09,303.899000,0.000000,1.264761e+09,1.000000,-1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,118.000000,99.000000,0.000000,7.000000,1.504116e+09,323.394000,288.131000,1.408458e+09,1.000000,500.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,237.000000,209.000000,0.000000,20.000000,1.505285e+09,383.028000,356.078000,1.442860e+09,1.000000,1000.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,480.000000,428.000000,1.000000,52.000000,1.505560e+09,468.463000,445.814000,1.464700e+09,2.000000,1500.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4570.000000,4476.000000,171.000000,10575.000000,1.505595e+09,983.085000,911.124000,1.484236e+09,6.000000,5000.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [302]:
res2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155337 entries, 0 to 155336
Data columns (total 52 columns):
ID                             155295 non-null object
submission_count               155337 non-null int64
problem_solved                 155337 non-null int64
contribution                   155337 non-null int64
country                        117446 non-null object
follower_count                 155337 non-null int64
last_online_time_seconds       155337 non-null int64
max_rating                     155337 non-null float64
rating                         155337 non-null float64
rank                           155337 non-null object
registration_time_seconds      155337 non-null int64
attempts_range                 155295 non-null float64
level_type                     154675 non-null object
points                         126220 non-null float64
tags                           155337 non-null object
e_rank                         155337 non-null int64
e_*special                     155337 non-null uint8
e_2-sat                        155337 non-null uint8
e_binary search                155337 non-null uint8
e_bitmasks                     155337 non-null uint8
e_brute force                  155337 non-null uint8
e_chinese remainder theorem    155337 non-null uint8
e_combinatorics                155337 non-null uint8
e_constructive algorithms      155337 non-null uint8
e_data structures              155337 non-null uint8
e_dfs and similar              155337 non-null uint8
e_divide and conquer           155337 non-null uint8
e_dp                           155337 non-null uint8
e_dsu                          155337 non-null uint8
e_expression parsing           155337 non-null uint8
e_fft                          155337 non-null uint8
e_flows                        155337 non-null uint8
e_games                        155337 non-null uint8
e_geometry                     155337 non-null uint8
e_graph matchings              155337 non-null uint8
e_graphs                       155337 non-null uint8
e_greedy                       155337 non-null uint8
e_hashing                      155337 non-null uint8
e_implementation               155337 non-null uint8
e_math                         155337 non-null uint8
e_matrices                     155337 non-null uint8
e_meet-in-the-middle           155337 non-null uint8
e_number theory                155337 non-null uint8
e_probabilities                155337 non-null uint8
e_schedules                    155337 non-null uint8
e_shortest paths               155337 non-null uint8
e_sortings                     155337 non-null uint8
e_string suffix structures     155337 non-null uint8
e_strings                      155337 non-null uint8
e_ternary search               155337 non-null uint8
e_trees                        155337 non-null uint8
e_two pointers                 155337 non-null uint8
dtypes: float64(4), int64(7), object(5), uint8(36)
memory usage: 30.5+ MB

In [303]:
res2.isna().sum()

ID                                42
submission_count                   0
problem_solved                     0
contribution                       0
country                        37891
follower_count                     0
last_online_time_seconds           0
max_rating                         0
rating                             0
rank                               0
registration_time_seconds          0
attempts_range                    42
level_type                       662
points                         29117
tags                               0
e_rank                             0
e_*special                         0
e_2-sat                            0
e_binary search                    0
e_bitmasks                         0
e_brute force                      0
e_chinese remainder theorem        0
e_combinatorics                    0
e_constructive algorithms          0
e_data structures                  0
e_dfs and similar                  0
e_divide and conquer               0
e_dp                               0
e_dsu                              0
e_expression parsing               0
e_fft                              0
e_flows                            0
e_games                            0
e_geometry                         0
e_graph matchings                  0
e_graphs                           0
e_greedy                           0
e_hashing                          0
e_implementation                   0
e_math                             0
e_matrices                         0
e_meet-in-the-middle               0
e_number theory                    0
e_probabilities                    0
e_schedules                        0
e_shortest paths                   0
e_sortings                         0
e_string suffix structures         0
e_strings                          0
e_ternary search                   0
e_trees                            0
e_two pointers                     0
dtype: int64

In [304]:
res2.head()

,ID,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,...,e_number theory,e_probabilities,e_schedules,e_shortest paths,e_sortings,e_string suffix structures,e_strings,e_ternary search,e_trees,e_two pointers
0,user_3311_prob_75,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,...,0,0,0,0,0,0,0,0,0,0
1,user_3311_prob_1481,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,...,0,0,0,0,0,0,0,0,0,0
2,user_3311_prob_3474,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,...,0,0,0,0,1,0,0,0,0,0
3,user_3311_prob_334,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,...,0,0,0,0,0,0,0,0,0,0
4,user_3311_prob_3508,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,...,0,0,0,0,0,0,0,0,0,0

In [305]:
dft=res2.ID

In [306]:
res2.drop(['ID','rank'],axis=1,inplace=True)

In [307]:
res2.fillna(method="bfill",inplace=True)

In [308]:
res2.drop(['country'],axis=1,inplace=True)

In [320]:
res2['level_type'] = df['level_type'].map({"A":0,"B":1,"C":2,"D":3,"E":4,"F":5,"G":6,"H":7,"I":8,"K":9,"L":10,"M":11,"N":12})

In [330]:
res2['level_type'].fillna(0,inplace=True)

In [336]:
res2['level_type'].astype(int)

0         0
1         1
2         1
3         0
4         0
         ..
155332    2
155333    2
155334    0
155335    3
155336    2
Name: level_type, Length: 155337, dtype: int64

In [343]:
res2.drop(['tags'],axis=1,inplace=True)

In [344]:
y = res2.attempts_range.values

In [345]:
x = res2.drop(['attempts_range'],axis=1).values

In [346]:
 from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators = 100, oob_score = True, n_jobs = -1,max_features = "auto", min_samples_leaf = 10)

In [347]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [348]:
model.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=10, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                      oob_score=True, random_state=None, verbose=0,
                      warm_start=False)

In [349]:
res2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155337 entries, 0 to 155336
Data columns (total 48 columns):
submission_count               155337 non-null int64
problem_solved                 155337 non-null int64
contribution                   155337 non-null int64
follower_count                 155337 non-null int64
last_online_time_seconds       155337 non-null int64
max_rating                     155337 non-null float64
rating                         155337 non-null float64
registration_time_seconds      155337 non-null int64
attempts_range                 155337 non-null float64
level_type                     155337 non-null float64
points                         155337 non-null float64
e_rank                         155337 non-null int64
e_*special                     155337 non-null uint8
e_2-sat                        155337 non-null uint8
e_binary search                155337 non-null uint8
e_bitmasks                     155337 non-null uint8
e_brute force                  155337 non-null uint8
e_chinese remainder theorem    155337 non-null uint8
e_combinatorics                155337 non-null uint8
e_constructive algorithms      155337 non-null uint8
e_data structures              155337 non-null uint8
e_dfs and similar              155337 non-null uint8
e_divide and conquer           155337 non-null uint8
e_dp                           155337 non-null uint8
e_dsu                          155337 non-null uint8
e_expression parsing           155337 non-null uint8
e_fft                          155337 non-null uint8
e_flows                        155337 non-null uint8
e_games                        155337 non-null uint8
e_geometry                     155337 non-null uint8
e_graph matchings              155337 non-null uint8
e_graphs                       155337 non-null uint8
e_greedy                       155337 non-null uint8
e_hashing                      155337 non-null uint8
e_implementation               155337 non-null uint8
e_math                         155337 non-null uint8
e_matrices                     155337 non-null uint8
e_meet-in-the-middle           155337 non-null uint8
e_number theory                155337 non-null uint8
e_probabilities                155337 non-null uint8
e_schedules                    155337 non-null uint8
e_shortest paths               155337 non-null uint8
e_sortings                     155337 non-null uint8
e_string suffix structures     155337 non-null uint8
e_strings                      155337 non-null uint8
e_ternary search               155337 non-null uint8
e_trees                        155337 non-null uint8
e_two pointers                 155337 non-null uint8
dtypes: float64(5), int64(7), uint8(36)
memory usage: 25.7 MB

,submission_count,problem_solved,contribution,follower_count,last_online_time_seconds,max_rating,rating,registration_time_seconds,attempts_range,level_type,...,e_number theory,e_probabilities,e_schedules,e_shortest paths,e_sortings,e_string suffix structures,e_strings,e_ternary search,e_trees,e_two pointers
0,47,40,0,4,1504111645,348.337,330.849,1466686436,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,47,40,0,4,1504111645,348.337,330.849,1466686436,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,47,40,0,4,1504111645,348.337,330.849,1466686436,1.0,1.0,...,0,0,0,0,1,0,0,0,0,0
3,47,40,0,4,1504111645,348.337,330.849,1466686436,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,47,40,0,4,1504111645,348.337,330.849,1466686436,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [351]:
res2.level_type.value_counts()

0.0     61395
1.0     40419
2.0     25876
3.0     13925
4.0      6197
5.0      2318
6.0      1544
7.0      1184
8.0       955
9.0       759
10.0      480
11.0      227
12.0       58
Name: level_type, dtype: int64

In [353]:
y_pred = model.predict(x_test)

In [358]:
from sklearn import metrics as ms

In [362]:
print("Accuracy:", ms.accuracy_score(y_test,y_pred))

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

In [361]:
y_pred.astype(int)

array([2, 1, 1, ..., 1, 1, 2])

In [363]:
y_test

array([3., 6., 3., ..., 1., 1., 1.])